.cart {
  display: flex;
  width: 75%;
  margin: auto;
  gap: 1rem;
}
.cart__container {
  border: 1px solid rgba(0, 0, 0, 0.236);
  padding: 1rem;
  width: 70%;
  margin: 2rem auto;
  z-index: 1;
  background-color: white;
}
.cart__title {
  font-size: 2rem;
}

.cart__item {
  margin: 1rem 0 0 0;
  display: grid;
  grid-template-columns: 6rem 5fr 1fr;
  align-items: start;
  position: relative;
}
.cart__item-title {
  margin: 0 0 0 2rem;
}
.cart__item-qty {
  display: flex;
  gap: 0.5rem;
  position: absolute;
  left: 8rem;
  bottom: 0rem;
}
.cart__item-qty span {
  border: 1px solid black;
  padding: 1px 5px;
  border-radius: 5px;
}
.cart__item-qty span:hover {
  background-color: rgba(0, 0, 0, 0.149);
  cursor: pointer;
}
#delete {
  color: rgb(57, 140, 168);
  background-color: white;
  padding: none;
  margin: none;
  position: absolute;
  left: 7rem;
  bottom: -0.4rem;
}
#delete:hover {
  text-decoration: underline;
}
.cart__item-img {
  background-color: grey;
  width: 6rem;
  height: 6rem;
}

.subtotal {
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.198);
  padding: 1rem;
  background-color: rgb(255, 255, 255);
  margin: 2rem auto;
  width: 30%;
  height: 7rem;
}
