.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 65%;
  margin: 2rem auto;
}

.product {
  min-width: 12rem;
  display: inline;
  border: 1px solid rgba(0, 0, 0, 0.247);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

button {
  background-color: #fea52c;
  border: none;
  color: black;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
  background-color: #f29f29;
}
