.products {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  margin: auto;
  padding: 4rem;
  position: absolute;
  background: linear-gradient(
    to bottom, transparent,
    #cfe1ea, #9fcbe8 ) ;
}

.product {
  width: 20rem;
  height: 23rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 1119px) {
  .product {
    width: 16rem;
    height: 20rem;
  }
}

button {
  background-color: #fea52c;
  border: none;
  color: black;
  padding: 5px 15px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
}
button:hover {
  cursor: pointer;
  background-color: #f29f29;
}
.wallpaper {
  justify-content: center;
  height: 100vh;
  margin-top: -50px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.gradient {
  height: 500px;
  position: absolute;
  z-index: 0;
} 
.image {
  width: 100%;
  z-index: -1;
  margin-bottom: -200px;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  
}
