@font-face {
  font-family: "amazon-ember-bold";
  src: url(../../fonts/Ember/AmazonEmber_Bd.ttf);
}
.product {
  z-index: 1;
  background-color: white;
}
.product_name {
  font-size: 1.1rem;
}
.product_name:hover {
  text-decoration: underline;
  color: #c25e4d;
}

.product_price {
  font-family: "amazon-ember-bold", sans-serif;
  color: #c25e4d;
}
.product_desc {
  font-size: 14px;
}
.product_img {
  width: 9rem;
  height: 9rem;
  margin: 1rem 0 1rem 0;
}
@media screen and (max-width: 1119px) {
  .product_img {
    width: 5rem;
    height: 5rem;
  }
}

.link {
  text-decoration: none;
  color: #529ba8;
}
.rating {
  width: 20px;
  color: orange;
  display: inline;
}
