.wallpaper {
    display: flex;
    justify-content: center;
    margin-top: -16px;
  }
  .image {
    width: 100%;
    z-index: -1;
    margin-bottom: -200px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  }
  