.box-one {
    margin: 20px 20px 0 0;  
    border: 1px solid #333;
    overflow: auto;
    z-index: 1;
}

.product-title, .product-price {
    color: rgb(15, 9, 9);
    text-align: right;
}

.product-img {
    float: left;
    display: block;
}