/* * {
    box-sizing: border-box;
    z-index: 1;
} */
.container {
    z-index: 1;
    background-color: white;
}
.h1 {
    text-align: center;
}
.left, .right {
    float: left;
    width: 30%;
    padding: 10px;
    height: 500px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.198);
}
.center {
    float: left;
    width: 40%;
    padding: 10px;
    height: 500px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.198);
}
.product-img {
    width: 280px;
}





