.nav {
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__cart {
    border: 1px solid rgba(0, 0, 0, 0.162);
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
    display: flex;
    align-items: center;
    &-icon {
      color: black;
    }
  }
}
.fa-solid {
  color: black;
}
img {
  width: 5rem;
}
.search {
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.searchInput {
  height: 12px;
  padding: 10px;
  width: 45%;
}
