.nav {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #131921;
  }
  &__logo {
    margin-left: 20px;
  }
  &__cart {
    border: 1px solid rgba(0, 0, 0, 0.162);
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
    display: flex;
    align-items: center;
    &-count {
      color: white;
      margin-right: 2rem;
    }
    &-icon {
      color: rgb(254, 254, 254);
      margin-right: 5px;
    }
  }
}
.fa-solid {
  color: black;
}
.nav-img {
  width: 5rem;
  padding: 0.2rem 0 0 0;
  margin: 1rem 0 1rem 1rem;
}
.search {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 24px;
  position: relative;
}
.searchInput {
  height: 16px;
  padding: 12px;
  width: 60%;
  margin-left: 2rem;
  background-color: rgb(250, 250, 246);
  border-radius: 5px 0 0 5px;
  border: none;
  z-index: 3;
}
.searchicon {
  background-color: #febd69;
  padding: 5px;
  height: 22px;
  border-radius: 0 5px 5px 0;
}
.searchicon:hover {
  cursor: pointer;
  background-color: #ffb553;
}
.dropdown {
  position: absolute;
  background-color: rgb(250, 250, 246);
  z-index: 2;
  top: 1.3rem;
  left: 2rem;
  width: 60%;
  border-radius: 0 0 5px 5px;
}
.dropdown-row {
  padding: 0.4rem;
  height: 1.7rem;
  overflow: hidden;
}
.dropdown-row:hover {
  cursor: pointer;
}
#icon-search {
  height: 15px;
}

.nav__One {
  font-size: 12px;
}

.nav__Two {
  font-size: 16px;
  font-weight: 810;
}
.nav__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}
.nav-auth {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
}
.nav__signup {
  z-index: 2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.nav__login {
  z-index: 3;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.nav__logout {
  color: white;
  &:hover {
    text-decoration: underline;
  }
}
.second-nav {
  background-color: rgb(35, 47, 62);
  height: 35px;
  width: 100%;
  display: block;
  // flex-direction: row;
}
.all-text {
  font-size: 14px;
  font-weight: 810;
  color: white;
  margin-left: 30px;
  padding: 7px;
  text-align: center;
}
// .menu-icon {
 
// }

